<html>
    <head>
      {% if title %}
      <title>{{ title }} - MINT Transformations</title>
      {% else %}
      <title>Welcome to MINT Transformations</title>
      {% endif %}
    </head>
    <body>
        <div>
          <img height="50" src="{{url_for('static', filename='logo.png')}}">  
          MINT Transformations: 
          <a href="/">Home</a>  
          <a href="/trans_form">Canonical Transform</a>  
          <a href="/get_symbol_map">Symbol Map</a>  
          <a href="/get_dimension_map">Dimension Map</a>  
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>