{% extends "base.html" %}

{% block content %}
    <h1>Canonical Unit Transform</h1>
    <form action="" method="get" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.in_unit.label }}<br>
            {{ form.in_unit(size=32) }}
        </p>
        <p>
            {{ form.out_unit.label }}<br>
            {{ form.out_unit(size=32) }}
        </p>
        <p>
            {{ form.in_val.label }}<br>
            {{ form.in_val(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}